<div class="custom-border-bottom py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a routerLink="">Home</a> <span class="mx-2 mb-0">/</span>
        <strong class="text-black">Blog List</strong>
      </div>
    </div>
  </div>
</div>

<div class="post-list">
  <div class="container">
    <div *ngFor="let post of posts" class="post-item">
      <div class="post-title">
        <h3>{{ post.name }}</h3>
      </div>
      <div class="post-thumb">
        <img
          src="https://localhost:5001/images/{{ post.image }}"
          [alt]="post.name"
        />
      </div>
      <div class="post-short-desc pt-2 pb-2">
        {{ post.shortDescription }}
      </div>
      <div class="row">
        <div class="col-md-6">
          <a [routerLink]="['/blog', post.id]">Read More >></a>
        </div>
        <div class="col-md-6 text-right">
          <a routerLink=".">Date {{ post.createdAt }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
