.mat-toolbar {
  position: fixed;
  z-index: 1001;
  right: 0;
  width: calc(100% - 270px);
}

.mat-toolbar .full {
  width: 100% !important;
}

.full {
  width: 100% !important;
}

#toggle-sidebar {
  cursor: pointer;
}
