// mat-dialog-container#mat-dialog-0 {
//   padding: 0;

//   .dialog-title {
//     font-weight: 500;
//     font-size: 1.3rem;
//     color: #48465b;
//   }
// }

.dialog-title {
  font-weight: 500;
  font-size: 1.3rem;
  color: #48465b;
}
