* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: 0;
    padding-left: 0;
}


/*-----Header-navbar------*/

.header-navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: #ffffff;
    border-bottom: 1px solid #cecece;
    top: 0px;
    padding: 0;
    z-index: 1020;
}


/*-----Header-navbar-logo------*/

.main .header-navbar .navbar-logo {
    width: 150px;
    height: 5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/*-----Header-navbar-mid------*/

.main .header-navbar .navbar-mid {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: left;
}

.main .header-navbar .navbar-mid li {
    padding: 0 15px 0 15px;
}

.main .header-navbar .navbar-mid li a {
    text-decoration: none;
    color: #73818f;
}

.main .header-navbar .navbar-mid .nav-last a {
    font-weight: bolder;
    color: #f85b3a;
}


/*-----Header-navbar-right------*/

.main .header-navbar .navbar-right {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}


/*-----Button------*/

button {
    background-color: #ffffff;
    border-style: none;
}


/*-----side-bar------*/

.main #side-bar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #2f353a;
    left: 0px;
    top: 55px;
}

.main #side-bar:hover {
    overflow-y: auto;
}

.main #side-bar.active {
    left: 0;
    -moz-animation: mymove 5s infinite;
    animation: mymove 1s;
    animation-fill-mode: forwards;
}

@-moz-keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: -200px;
    }
}

@-webkit-keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: -200px;
    }
}

@keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: -200px;
    }
}

.main #side-bar ul li {
    list-style: none;
    padding: 15px 10px 15px 15px;
    cursor: pointer;
}

.main #side-bar ul .sidebar-items a {
    color: #ffffff;
    text-decoration: none;
}

.main #side-bar ul .sidebar-items:hover {
    background-color: #20a8d8;
}

.main #side-bar ul .sidebar-items .fa-caret-down {
    float: right;
    padding-right: 10px;
}

.main #side-bar ul .sidebar-text-uppercase {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #e4e7ea;
}


/*--------dropdown base---------*/

.main #side-bar ul .dropdown-base li {
    list-style: none;
    padding: 15px 10px 15px 15px;
    cursor: pointer;
}

.main #side-bar ul .dropdown-base li:hover {
    background-color: #20a8d8;
}

.main #side-bar ul .dropdown-base li a {
    color: #ffffff;
    text-decoration: none;
}

.main #side-bar ul .dropdown-base {
    display: none;
}

.main #side-bar ul .dropdown-base.active {
    display: block;
    margin-left: 20px;
}


/*--------dropdown tables--------*/

.main #side-bar ul .dropdown-tables li {
    list-style: none;
    padding: 15px 10px 15px 15px;
    cursor: pointer;
}

.main #side-bar ul .dropdown-tables li:hover {
    background-color: #20a8d8;
}

.main #side-bar ul .dropdown-tables li a {
    color: #ffffff;
    text-decoration: none;
}

.main #side-bar ul .dropdown-tables {
    display: none;
}

.main #side-bar ul .dropdown-tables.active {
    display: block;
    margin-left: 20px;
}


/*-------content---------*/

.main .content {
    position: relative;
    width: 86%;
    height: 100%;
    margin-left: 200px;
    margin-top: 55px;
    background-color: #f0f3f5;
}

.main .content.active {
    width: 100%;
    margin-left: 0;
    -moz-animation: mymove1 5s infinite;
    animation: mymove1 1s;
    animation-fill-mode: forwards;
}

@-moz-keyframes mymove1 {
    from {
        left: 200px;
    }
    to {
        left: 0px;
    }
}

@-webkit-keyframes mymove1 {
    from {
        left: 200px;
    }
    to {
        left: 0px;
    }
}

@keyframes mymove1 {
    from {
        left: 200px;
    }
    to {
        left: 0px;
    }
}


/*------header-top-----*/

.main .content .header-top {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #cecece;
    padding-left: 15px;
}


/*---------left-header-top----------*/

.main .content .header-top .left-hdt {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-hdt::after {
    content: "/";
    padding-left: 5px;
    color: #73818f;
}

.main .content .header-top .left-hdt .nav-last-hdt {
    color: #73818f;
}

.main .content .header-top .left-hdt li {
    padding-left: 5px;
}

.main .content .header-top .left-hdt li a {
    text-decoration: none;
    color: #20a8d8;
}

.main .content .header-top .left-hdt li a:hover {
    text-decoration: underline;
    color: blue;
}


/*----------right-header-top----------*/

.main .content .header-top .right-hdt {
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: auto;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

.right-hdt li {
    padding-left: 15px;
}

.right-hdt li a {
    text-decoration: none;
}


/*----------tables-----------*/

.table-header {
    position: relative;
    width: 90%;
    height: 40px;
    border: 1px solid #dddddd;
    margin: 30px 10px 0 5%;
    background-color: #f2f2f2;
}

.table-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px 30px;
}

.fa-bars {
    padding-right: 10px;
}

.table-body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 40%;
    margin: 0 10px 10px 5%;
    border: 1px solid #dddddd;
    border-top: none;
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 15px;
}

#table {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 95%;
    margin: 10px 15px 10px 30px;
}

#table th {
    text-align: left;
    padding: 5px 0 5px 0;
}

#table td,
#table th {
    border: 1px solid #dddddd;
    padding: 5px;
}

#table tr:nth-child(even) {
    background-color: #F2F2F2;
}

.fa-edit {
    padding-right: 10px;
}


/*---------button add edit remove----------*/

.btn-add {
    width: 30px;
    height: 30px;
    background-color: #3EA662;
    color: #ffffff;
    cursor: pointer;
}

.btn-add:hover {
    background-color: green;
}

.btn-edit {
    width: 30px;
    height: 30px;
    background-color: #63C2DE;
    color: #ffffff;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: blue;
}

.btn-remove {
    width: 30px;
    height: 30px;
    background-color: #F64846;
    color: #ffffff;
    cursor: pointer;
}

.btn-remove:hover {
    background-color: red;
}


/*---------footer-----------*/

.footer {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 0;
    margin-left: 200px;
    background-color: #F0F3F5;
    border-top: 1px solid #cecece;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer.active {
    width: 100%;
    margin-left: 0;
    -moz-animation: mymove1 5s infinite;
    animation: mymove1 1s;
    animation-fill-mode: forwards;
}

.footer a {
    text-decoration: none;
    color: blue;
}

.left-footer {
    padding-left: 30px;
}

.right-footer {
    margin-left: auto;
}