<div class="table">
  <h3 class="table__heading">Catalogs</h3>
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selectedValue">
      <mat-option *ngFor="let column of displayedSelects" [value]="column">{{
        column
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Search catalogs" #input />
  </mat-form-field>

  <button [routerLink]="['add']" class="btn-add" mat-flat-button>
    Add
    <mat-icon>add</mat-icon>
  </button>

  <mat-table
    class="catalogs-table mat-elevation-z8"
    [dataSource]="dataSource"
    matSort
    matSortDirection="asc"
    matSortDisableClear
  >
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let catalogs">{{ catalogs.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let catalogs">{{
        catalogs.name
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ShortDescription">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >ShortDescription</mat-header-cell
      >
      <mat-cell class="duration-cell" *matCellDef="let catalogs">{{
        catalogs.shortDescription
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Description</mat-header-cell
      >
      <mat-cell class="duration-cell" *matCellDef="let catalogs">{{
        catalogs.description
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Visibility">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Visibility</mat-header-cell
      >
      <mat-cell class="duration-cell" *matCellDef="let catalogs">
        <mat-icon class="active" *ngIf="catalogs.visibility">
          check_circle
        </mat-icon>
        <mat-icon *ngIf="!catalogs.visibility">
          check_circle
        </mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="CreateAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Create At</mat-header-cell
      >
      <mat-cell class="duration-cell" *matCellDef="let catalogs">{{
        catalogs.createdAt
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="UpdateAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Update At</mat-header-cell
      >
      <mat-cell class="duration-cell" *matCellDef="let catalogs">{{
        catalogs.updateAt
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Action">
      <mat-header-cell
        *matHeaderCellDef
        style="display:flex; justify-content:center;"
        >Action</mat-header-cell
      >
      <mat-cell
        class="duration-cell"
        *matCellDef="let catalogs"
        style="display:flex; justify-content:center;"
      >
        <button
          [routerLink]="['edit', catalogs.id]"
          class="btn btn-edit"
          mat-flat-button
          title="Edit"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          class="btn btn-delete"
          mat-flat-button
          title="Delete"
          (click)="onDelete(catalogs.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
      >
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="catalogsCount"
    [pageSize]="3"
    [pageSizeOptions]="[3, 6, 9]"
  ></mat-paginator>
</div>
